@import "tailwindcss";

:root {
    --background: #FFC56F;
    --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #FFC56F;
        --foreground: #ffffff;
    }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inclusive Sans, Helvetica, sans-serif;
}

/* globals.css */
:root {
    --leading: 1.55;
}

.prose {
    line-height: var(--leading);
}

h1, h2, h3 {
    letter-spacing: -0.01em;
    font-family:  Inclusive Sans, Helvetica, sans-serif;
}


/* === Background orb animation === */
@keyframes pulse-glow {
    0%, 100% {
        opacity: 0.65;
        filter: blur(60px);
        transform: scale(1);
    }

    50% {
        opacity: 0.9;
        filter: blur(86px);
        transform: scale(1.06);
    }
}

.animate-orb-pulse {
    animation: pulse-glow 8s ease-in-out infinite;
    will-change: transform, opacity, filter;
}

/* Stop motion if user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
    .animate-orb-pulse {
        animation: none;
    }
}


..text-shadow-yellow {
    text-shadow: 0 2px 6px rgba(250, 155, 113, 0.8);
}

@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 20px rgba(250, 155, 113, 0.9), 0 0 20px rgba(255, 155, 0, 0.5);
    }

    50% {
        text-shadow: 0 0 25px rgba(250, 155, 113, 1), 0 0 30px rgba(255, 155, 0, 0.5);
    }
}

.text-glow-animate {
    animation: glow 2.5s ease-in-out infinite;
}

